<ion-header class="content" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle del Curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Información del curso -->
  <ion-card *ngIf="curso">
    <ion-card-header>
      <img [src]="curso.imagen" alt="Imagen del curso" />
      <ion-card-title>{{ curso.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ curso.descripcion }}</p>
      <div class="user-info">
        <p><strong>Profesor:</strong> {{ curso.usuario?.nombre_completo }}</p>
        <p><strong>Correo:</strong> {{ curso.usuario?.correo }}</p>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Botón para crear una nueva clase -->
  <ion-button expand="block" color="success"(click)="crearClase(curso.id)">Nueva clase</ion-button>

  <!-- Botón para crear un nuevo anuncio -->
  <ion-button class="botonmorado" expand="block" (click)="crearAnuncio(curso.id)">Nuevo anuncio</ion-button>

  <!-- Tabla de registro de clases -->
  <ion-grid *ngIf="clases.length > 0">
    <ion-row>
      <ion-col size="3">Día</ion-col>
      <ion-col size="5">Fecha</ion-col>
      <ion-col size="4">Acciones</ion-col>
    </ion-row>

    <ion-row *ngFor="let clase of clases; let i = index">
      <ion-col size="3" class="text-center">{{ obtenerDiaSemana(clase.fecha) }}</ion-col>
      <ion-col size="5" class="text-center">{{ clase.fecha | date: 'dd \'de\' MMMM, yyyy' }}</ion-col>
      <ion-col size="4" class="text-center">
        <ion-button expand="block" fill="solid" class="botonmorado" (click)="verDetallesClase(curso.id, clase)">
          Ver Detalles
        </ion-button>
        <ion-button expand="block" fill="outline" color="secondary" (click)="mostrarQRCode(clase.codigo_web)">
          Generar QR
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p *ngIf="clases.length === 0">No se encontraron clases para este curso.</p>

  <!-- QR Code Section -->
  <div *ngIf="showQRCode" class="qr-container">
    <qrcode [qrdata]="codigoQR" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    <ion-button color="danger" (click)="cerrarQRCode()">Cerrar QR</ion-button>
  </div>

  <!-- Lista de anuncios del curso -->
   <ion-card>
  <ion-list *ngIf="anuncios.length > 0" class="transparent-list">
    <ion-list-header>
      <ion-label>Anuncios del Curso</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let anuncio of anuncios">
      <ion-label>
        <h2>{{ anuncio.titulo }}</h2>
        <p>{{ anuncio.mensaje }}</p>
      </ion-label>
      <ion-button slot="end" class="botonmorado" (click)="verDetallesAnuncio(anuncio)">Ver</ion-button>
    </ion-item>
  </ion-list>
  
  <ion-list *ngIf="inasistencias.length > 0" class="transparent-list">
    <ion-list-header>
      <ion-label>Inasistencias del Curso</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let inasistencia of inasistencias">
      <ion-label>
        <h2>Fecha: {{ inasistencia.fecha }}</h2>
        <p>Motivo: {{ inasistencia.mensaje }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-card>
  
  <p *ngIf="inasistencias.length === 0" class="no-data-message" style="padding-left: 20px; padding-bottom: 10px; padding-right: 20px;">
    No se encontraron inasistencias.
  </p>  
</ion-content>
